.button {
  position: relative;
  background: #fcad26;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  border: none;
  box-shadow: 0px 6px #efa424;
}

.button:hover {
  box-shadow: 0 4px #efa424;
  top: 2px;
}

.button:active {
  box-shadow: none;
  top: 6px;
}
