.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .title {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.priceInfo {
  display: block;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .priceInfo {
    display: flex;
    align-items: center;
  }
}

.equal {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 40px;
}

.priceWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .priceWrap {
    display: flex;
    align-items: center;
  }
}

.price {
  font-size: 32px;
  margin-right: 12px;
}

@media (min-width: 768px) {
  .price {
    font-size: 64px;
    margin-right: 12px;
  }
}

.slider {
  width: 90%;
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .slider {
    width: 75%;
  }
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.button {
  min-width: 160px;
}

.mintingContainer {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.viewScan {
  display: inline-block;
  margin-top: 60px;
  font-size: 24px;
  color: black;
}
